.element-item {
  padding: 5px;
  margin: 5px;
}
/* .flower {
  background: teal;
}
.bird {
  background: salmon;
}
.fruit {
  background: tomato;
} */
img{
  width: 300px;
  height: 200px;
  border: 1px solid black;
}